:root {
  --primary-color: #EEE;
  --secondary-color: #223;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  background: var(--primary-color);
  font-family: 'Source Sans 3', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--secondary-color);
}

.container,
.header-container {
  padding: 1.25em;
}

/*____ TYPOGRAPHY ____*/

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  color: black;
}

h1 {
  font-size: 0.875rem;
  font-family: Roboto;
}

h2 {
  line-height: 1.125;
}

p {
  max-width: 550px;
}

.article p {
  color: darkslategray;
}

.hero-text,
.footer-text {
  color: var(--primary-color);
}

time {
  text-transform: uppercase;
  color: black;
}

time.hero-text {
  font-size: 0.75rem;
}

h2.hero-text {
  font-size: 2rem;
}

.article time {
  font-size: 0.875rem;
}

h1.footer-text {
  font-family: "Source Sans 3";
  font-size: 0.75rem;
}

p.footer-text {
  font-size: 0.75rem;
}

.recent-posts {
  text-align: center;
}

/*____ IMAGES ____*/

.page-logo {
  width: 1.44em;
  height: 1.44em;
}

.article-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 3px;
}

/*____ LINKS ____*/
nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 0.75rem;
}

nav a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: none;
}

/*____ HEADER LAYOUT ____*/

.page-header {
  padding-block: 1.25em;
  display: flex;
  align-items: center;
  gap: 0.25em;
}

nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1.5em;
}

/*____ FOOTER LAYOUT ____*/
.footer {
  text-align: center;
  background-color: var(--secondary-color);
  padding-block: 2.25em;
}

p.footer-text {
 margin: 0 auto;
}

/*____ HOME LAYOUT ____*/

.hero-blog {
  background: rgba(0, 0, 0, .55) url("/assets/images/blog-hero-image.png");
  background-size: cover;
  background-position: 0% 80%;
  background-blend-mode: darken;
  padding-top: 6.25em;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 0.5em;
}

.hero-blog-link {
  text-decoration: none;
}

.articles {
  margin-block: 1.25em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
  gap: 2.5em;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 0.375em;
}

/*____ BLOG LAYOUT ____*/
.blog-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-inline: auto;
}

.blog-p {
  max-width: 100%;
}

.blog-image {
  width: 100%;
  max-width: 1200px;
  height: 50vw;
  object-fit: cover;
  object-position: 0 80%;
  margin-block: 1.5em;
}

.blog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*____ MEDIA QUERIES ____*/

@media (min-width: 600px) {
  .hero-blog {
    height: 300px;
  }

  .container {
    padding: 2em;
  }

  .header-container {
    padding-inline: 2em;
  }
}

@media (min-width: 900px) {
  .page-header {
    gap: 1em;
  }

  header h1 {
    font-size: 1.25rem;
  }

  nav a {
    font-size: 1rem;
  }

  .hero-blog {
    height: 500px;
    padding-bottom: 6em;
  }

  h2.hero-text {
    font-size: 2.5rem;
  }

  time.hero-text {
    font-size: 1rem;
  }

  .container {
    padding-inline: 4em;
  }

  .header-container {
    padding: 2em 4em;
  }
  
  .blog-container {
    max-width: 900px;
  }

  .blog-image {
    height: 500px;
  }
}
